html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

div#logs {
    border: 2px inset #8258FA;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}

p.logsRed {
    background-color: red;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

p.logsPink {
    background-color: pink;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

p.logsBlack {
    background-color: black;
    color: white;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

p.logsGreen {
    margin: 0px;
    width: 100%;
    color: white;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
    background-color: green;
}

p.logsOrange {
    color: white;
    background-color: orange;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

p.logsYellow {
    color: white;
    background-color: yellow;
    margin: 0px;
    width: 100%;
    height: 80px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

#on_zone {
    border: 5px inset rgb(68, 0, 255);
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
}

div#on_data {
    border: 5px inset #8258FA;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
}

p.on_data {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.on_data:nth-child(even) {
    background-color: rgb(222, 129, 245);
}

.on_data:nth-child(odd) {
    background-color: rgb(247, 129, 198);
}

#emit_zone {
    border: 5px inset rgb(250, 88, 88);
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.red {
    font-size: 2vh;
    color: red;
}

.green {
    font-size: 2vh;
    color: green;
}

.orange {
    font-size: 2vh;
    color: orange;
}

.yellow {
    font-size: 2vh;
    color: yellow;
}

.pink {
    font-size: 2vh;
    color: pink;
}